/* Displays */

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Aligns */
.center {
    justify-content: center;
    align-items: center;
}

/* Backgrounds */
.bg-main {
    background-color: rgb(255 240 195 / 58%);;
}

.bg-secondary {
    background-color: rgb(152 216 224);
}

.bg-error {
    background-color: #b16651;
}
.bg-warning {
    background-color: #a0dfb4;
}

.bg-game {
    background-color: #ffffff94;
}


/* Sizes */

.h-100 {
    height: 100vh;
}

.h-50 {
    height: 50vh;
}

.h-25 {
    height: 25vh;
}


.h-500 {
    height: 500px;
}

.hp-400 {
    height: 400px;
}

.hp-200 {
    height: 200px;
}

.hp-198 {
    height: 198px;
}

.w-100 {
    width: 100vw;
}

.w-500 {
    width: 500px;
}

.wp-400 {
    width: 400px;
}

.wp-200 {
    width: 200px;
}

.wp-198 {
    width: 198px;
}

.w-50 {
    width: 50vw;
}

.w-25 {
    width: 25vw;
}

/* Elements */
body {
    padding: 0;
    margin: 0;
}

/* Borders */
.radius5 {
    border-radius: 5px;
}

.border1 {
    border: 1px solid #0073accf;
}
/* Game Borders */
.border-bottom {
    border-bottom: 1px solid tomato;
}
.border-right {
    border-right: 1px solid tomato;
}

.border-all {
    border: 1px solid tomato
}

.border-top-0 {
    border-top: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}


/* Shadows */
.shadow-in {
    -webkit-box-shadow: inset 0px 0px 24px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 24px -1px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 24px -1px rgba(66, 68, 90, 1);
}

/* Paddings */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}

input {
    width:  160px;
    height: 40px;
    margin: 10px 0;
    font-size: 1.13em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.tas {
    background-color: #FFC107;
    border-radius: 50%;
    border: 1px solid #052883;
    z-index: 100;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 200;
}

.tas1 {
    top: -10px;
    left: -10px;
}

.tas2 {
    top: 190px;
    left: 190px;
}

.oyunkutular {
    z-index: 100;
}
.ustduzlem {
    z-index: 200;
    position: absolute;
}

/* Oyuncu Adları */
#oyuncular {
    background-color: #707070;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
}

.oyuncu {
    color: #ffffff;
    font-size: 1.2em;
    font-family: cursive;
    padding: 5px;
    background-color: #949494;
    border-radius: 5px;
}

.aktifOyuncu {
    border: 4px dotted #55ff00
}


.tasAlani {
    border: 1px solid #9a5959;
    width: 20px;
    height: 20px;
    position: absolute;
    background: blanchedalmond;
    border-radius: 3px;
}

#tasAlani1 {top: -10px; left:-10px;}
#tasAlani2 {top: -10px; left:190px;}
#tasAlani3 {top: -10px; left:390px;}
#tasAlani4 {top: 190px; left:-10px;}
#tasAlani5 {top: 190px; left:190px;}
#tasAlani6 {top: 190px; left:390px;}
#tasAlani7 {top: 390px; left:-10px;}
#tasAlani8 {top: 390px; left:190px;}
#tasAlani9 {top: 390px; left:390px;}


.seciliTas {
    background-color: pink !important;
}